<ion-menu [content]="mycontent">
  <ion-header>
    <ion-toolbar color=appOrange>
      <ion-title>Dine lister</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list no-lines>
      <div *ngFor="let item of huskMigList, let i = index">
        <ion-card>
          <ion-row>
            <ion-col align="left">
              <ion-item menuClose (click)="mainListIndex(i)">
                <h2> {{ item.name }} </h2>
              </ion-item>
            </ion-col>
            <ion-col align="right">
              <button ion-button icon-right clear small (click)="deleteList(i)">
                  <div><font size="1">Slet</font></div>
                  <ion-icon name="delete"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-list>
    <button bottom ion-button block clear color=appOrange (click)="openAddListAlert()">+ Tilføj liste</button>
  </ion-content>
</ion-menu>
<ion-nav #mycontent [root]="rootPage"></ion-nav>


<ion-header >
  <ion-navbar color=appOrange>
    <ion-title text-center>
      <b class="appFont">HuskMig!<ion-icon name="md-clipboard"></ion-icon></b>
    </ion-title>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddAlert()">
        <ion-icon name ="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 color=emptyList *ngIf="huskMigList?.length > 0 && [selectedList] == 0">Din liste er tom! Tryk på + for at tilføje en note.</h2>
  <h2 color=emptyList *ngIf="[huskMigList] == 0 && [selectedList] == 0">Du har ingen lister. Klik på menuen i venstre hjørne for at lave en liste.</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let item of selectedList, let i = index">
      <ion-item>
        <h2>{{ item }}</h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteNote(i)">
          <ion-icon name="trash"></ion-icon>
          Slet
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color=appOrange>
    <ion-buttons end>
    <button ion-button icon-only (click)="openMoreActionSheet()">
      <p>Mere</p><ion-icon name ="md-more"></ion-icon>
    </button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
